* {
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
}
  
.header_nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 187, 252);
    box-shadow: 5px 3px 15px rgb(107, 187, 252);
    z-index: 99;
}

.dialogTitle {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.authBtn {
    margin: 0 auto;
    padding: 10px;
}

.header_login {
    padding: 20px;
    color: rgb(5, 69, 6);

    &:hover {
        color:white;
        background-color:rgb(114, 192, 255);
        border-radius: 20px;
        box-shadow: 2px 3px 4px rgb(114, 192, 255), -2px -3px 4px rgb(114, 192, 255);
    }
}

.action_icon {
    padding: 20px;
    color: white;
    &:hover {
        cursor: pointer;
        color: black;
        background-color:rgb(114, 192, 255);
        border-radius: 20px;
        box-shadow: 2px 3px 4px rgb(114, 192, 255), -2px -3px 4px rgb(114, 192, 255);
    }

    :active {
        color: white;
    }
}

.container {
    display: block;
    position: relative;
    padding: 15px;
    top: 77px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: rgb(168, 213, 255);
    box-sizing: border-box;
    box-shadow: 5px 2px 5px rgb(168, 213, 255), -5px 2px 5px rgb(168, 213, 255);
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

.formBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.blockFile {
    margin: 10px;
}

.namefile {
    display: flex;
}

@media (max-width: 844px) {
    .container {
        top: 90px;
    }
  }